body {
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    margin-block-start: 0;
    margin: 0;
}

.loader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  repeat(3, 1fr);
    grid-template-areas: ". . ."
                        ". loader ."
                        ". . .";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background-color: skyblue;
    animation: loading 3000ms ease-in-out 1 forwards;
}

.loader .loader-image {
    grid-area: loader;
    margin: auto auto;
    width: 300px;
    height: 300px;
    background: linear-gradient(rgb(255, 0, 0) 50%, rgb(240, 240, 240) 50%);
    border: 8px solid black;
    border-radius: 160px 160px 160px 160px;
    animation: poketrap 750ms ease-in 3 forwards 250ms;
}

.loader .loader-image .circle {
    position: fixed;
    top: 85px;
    left:85px;
    margin: 10px 10px;
    width: 100px;
    height: 100px;
    background-color:white;
    border: 8px solid black;
    border-radius: 60px 60px 60px 60px;
}

.loader .loader-image .line-one {
    position: fixed;
    top: 140px;
    left: -10px;
    margin: 10px 10px;
    width: 100px;
    height: 100px;
    border-top: 8px solid black;
}

.loader .loader-image .line-two {
    position: fixed;
    top: 140px;
    left: 193px;
    margin: 10px 10px;
    width: 100px;
    height: 100px;
    border-top: 8px solid black;
}

@keyframes loading {
    0% {
        opacity: 1;
        z-index:3;
    }
    33% {
        opacity: 1;
        z-index: 3;
    }
    66% {
        opacity: 1;
        z-index: 3;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes poketrap {
    0% {
        transform: rotate(0deg);
    }
    44% {
        transform: rotate(0deg);
    }
    45% {
        transform: rotate(15deg);
    }
    55% {
        transform: rotate(-15deg);
    }
    56% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

h1 {
    position: fixed;
    margin-block-start: 0;
    width: 100vmax;
    color:white;
    text-align: center;
    background-color: rgba(135, 206, 250, 0.7);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 60px;
    left: auto;
    right: auto;
}

.search-form label {
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: white;
    background-color: skyblue;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px 0 0 5px;
    border: 1px solid white;
}

#search {
    text-align: center;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid white;
}

#search:focus-visible {
    text-align: center;
    color: white;
    font-weight: bold;
    border-inline-color: transparent;
    background-color: transparent;
}

#search::placeholder:focus-visible {
    text-align: center;
    color: white;
    font-weight: bold;
}

.search-button {
    cursor: pointer;
    background-color: skyblue;
    border-color: transparent;
    width: 40px;
    border: 1px solid white;
}

.search-button:hover {
    background-color: lightseagreen;
}

.search-button .fa-search {
    color:white;
}

.search-clean {
    cursor: pointer;
    background-color: skyblue;
    border-color: transparent;
    width: 40px;
    border: 1px solid white;
    border-radius: 0 5px 5px 0;
}

.search-clean:hover {
    background-color: lightcoral;
}

.search-clean .fa-times {
    color: white;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas: ". pokemon-empty pokemon-empty pokedex-empty pokemon-empty .";
    margin-top: 110px;
}

.pokedex-empty {
    color:lightcoral;
    font-weight: bold;
    grid-area: pokedex-empty;
}

.pokemon-block {
    width: 135px;
    height: 135px;
    color: black;
    text-decoration: none;
    margin: 10px 10px;
    border: 2px solid grey;
    border-radius: 10px 10px 10px 10px;
    box-shadow:  0 0 10px;
    background-color: rgba(245, 245, 245, 0.7);
}

.pokemon-image-container {
    display: flex;
    justify-content: center;
}

.pokemon-id {
    display: flex;
    justify-content: center;
    margin: 0 10px;
    font-weight: bold;
}

.pokemon-name {
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #pokedex {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "pokemon-empty pokemon-empty pokedex-empty pokemon-empty";
    }
}

@media screen and (max-width: 767px) {
    #pokedex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "pokemon-empty pokemon-empty";
    }

    .search-form label {
        display:none;
    }
}