body {
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    margin-block-start: 0;
}

a {
    position: fixed;
    width: 100vmax;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 10px;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    color:white;
    text-align: center;
    text-decoration: none;
    background-color: rgba(135, 206, 250, 0.7);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pokedex {
    margin: 160px 0;
}

.pokemon-block {
    display: grid;
    grid-template-areas: "arrow-left pokemon-image-container arrow-right"
                        "pokemon-id pokemon-name ."
                        "pokemon-types pokemon-abilities pokemon-habitat"
                        "pokemon-height pokemon-weight pokemon-growthrate"
                        ". . ."
                        "pokemon-description pokemon-description pokemon-description"
                        ". . ."
                        ". pokemon-evolutions pokemon-evolutions"
                        ;

    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 700px;
    height: 700px;
    margin: 10px 10px;
    opacity: 1;
    border: 2px solid grey;
    border-radius: 10px 10px 10px 10px;
    box-shadow:  0 0 10px;
    background-color: rgba(245, 245, 245, 0.7);
    animation: card-appear 1000ms ease-in-out;
}

@keyframes card-appear {
    from {
        opacity: 0;
        transform:translateY(150px);
    }
    50% {
        opacity: 0.5;
        transform:translateY(-100px);
    }
    to {
        opacity: 1;
        transform:translateY(0);
    }
}

.pokemon-image-container {
    grid-area: pokemon-image-container;
    width: 300px;
    height: 300px;
}

.pokemon-image-container img {
    width: 300px;
    height: 300px;
}

.fa-arrow-circle-left {
    margin-left: auto;
    width: 75px;
    height: 75px;
}

.fa-arrow-circle-right {
    margin-right: auto;
    width: 75px;
    height: 75px;
}

.fa-arrow-circle-left:before {
    display: grid;
    margin-top: 20px;
    font-size: 75px;
    cursor: pointer;
    grid-area: arrow-left;
}

.fa-arrow-circle-right:before {
    display: grid;
    margin-top: 20px;
    font-size: 75px;
    cursor:  pointer;
    grid-area: arrow-right;
}

.fa-arrow-circle-left:hover, .fa-arrow-circle-right:hover {
    color: rgba(25, 173, 207, 0.7);
}

.pokemon-id {
    margin: 0;
    margin-left: auto;
    height: 30px;
    grid-area: pokemon-id;
    color: black;
    font-weight: bold;
    font-size: 30px;
}

.pokemon-name {
    margin: 0 auto;
    height: 30px;
    grid-area: pokemon-name;
    color: black;
    text-decoration: underline;
    font-size: 30px;
}

.pokemon-types {
    margin: 0;
    margin-left: auto;
    color: black;
    font-weight: bold;
    height: 30px;
    grid-area: pokemon-types;
}

.pokemon-habitat {
    margin: 0;
    margin-right: auto;
    color: black;
    text-shadow: 0 0 10px black;
    font-weight: bold;
    height: 30px;
    grid-area: pokemon-habitat;
}

.pokemon-abilities {
    margin: 0 auto;
    color: black;
    font-weight: bold;
    height: 30px;
    grid-area: pokemon-abilities;
}

.pokemon-height {
    margin: 0;
    margin-left: auto;
    color: black;
    font-weight: bold;
    height: 30px;
    grid-area: pokemon-height;
}

.pokemon-weight {
    margin: 0 auto;
    color: black;
    font-weight: bold;
    height: 30px;
    grid-area: pokemon-weight;
}

.pokemon-growthrate {
    margin: 0;
    margin-right: auto;
    color: black;
    font-weight: bold;
    height: 30px;
    grid-area: pokemon-growthrate;
}

.pokemon-description {
    margin: 0 50px;
    color: black;
    text-shadow: 0 0 10px black;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    grid-area: pokemon-description;
}

.pokemon-evolutions {
    margin: 0 50px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    grid-area: pokemon-evolutions;
}

.pokedex-empty {
    color:lightcoral;
    font-weight: bold;
    grid-area: pokedex-empty;
}

@media screen and (max-width: 767px) {
    .pokemon-block {
        grid-template-areas: "arrow-left pokemon-image-container pokemon-image-container arrow-right"
                            "pokemon-id pokemon-id pokemon-name pokemon-name"
                            "pokemon-abilities pokemon-abilities pokemon-types pokemon-types"
                            "pokemon-height pokemon-height pokemon-habitat pokemon-habitat"
                            "pokemon-weight pokemon-weight pokemon-growthrate pokemon-growthrate"
                            "pokemon-description pokemon-description pokemon-description pokemon-description"
                            "pokemon-description pokemon-description pokemon-description pokemon-description"
                            "pokemon-evolutions pokemon-evolutions pokemon-evolutions pokemon-evolutions"
                            ;
    
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(4, 1fr);
        width: 320px;
        height: 700px;
    }

    .pokemon-image-container {
        width: 150px;
        height: 150px;
    }
    
    .pokemon-image-container img {
        width: 150px;
        height: 150px;
    }

    .pokemon-id {
        margin: 0 auto;
    }

    .pokemon-name {
        margin: 0 auto;
    }

    .pokemon-abilities {
        margin: 0 auto;
        text-align: center;
    }

    .pokemon-types {
        margin: 0 auto;
    }

    .pokemon-height {
        margin: 0 auto;
    }

    .pokemon-habitat {
        margin: 0 auto;
    }

    .pokemon-weight {
        margin: 0 auto;
    }

    .pokemon-growthrate {
        margin: 0 auto;
    }

    .pokemon-description {
        text-align: center;
    }

    .pokemon-evolutions {
        text-align: center;
    }
}